$computer: 1024px
$tablet: 768px

.weatherApp
    background-color: #497fa8
    font-family: 'Caladea'
    color: white
    text-align: center
    display: grid

.top
    display: grid
    grid-template-columns: auto

.search
    background-color: green
    margin-top: 20px
    margin-right: 20px
    margin-left: 20px

.searchInput
    width: 100%
    font-size: 50px
    text-align: center

.searchButton
    font-size: 30px
    height: 100%
    margin-left: 20px
    width: 200px

.location
    font-size: 65px

.date
    font-size: 20px
    background: #a8a8a8c2
    display: none

.title
    font-size: 30px
    font-weight: 500
    margin-bottom: 
    height: 50px

.periods
    display: grid
    grid-template-columns: auto
    grid-column-gap: 5px
    @media screen and (min-width: $tablet)
        grid-template-columns: auto auto
    @media screen and (min-width: $computer)
        grid-template-columns: auto auto auto auto auto auto auto

.period
    font-size: 25px
    display: grid
    grid-template-rows: auto auto auto

.individualPeriod
    display: none

.day
    background-color: #3e86f1

.night
    background-color: #191b51

.wind
    display: flex
    justify-content: center

.icon
    min-width: 100px
    min-height: 100px

.forecastData
    display: grid
    align-content: space-evenly
    height: 50%

.individualPeriod
    margin-bottom: 20px

.hour
    width: 120px